@import url(https://use.fontawesome.com/releases/v6.0.0/css/all.css);

* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #c2a0fa57;
}

.container {
  display: grid;
  width: 130%;
  min-height: 50vh;
  padding-top: 2%;
  padding-left: 2%;
  margin: 10vh 0;
  background-color: #f0e9e9;
  box-shadow: 0 2px 8px rgba(248, 5, 5, 0.993);
  border-radius: 3px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.fa-solid.fa-rotate {
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-left: 60%;
}

.group {
  width: 100%;
}

.add {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: calc(100% - 40px);
  padding: 0 20px;
  border-bottom: 1px #ddd solid;
}

.add input[type="text"]::placeholder {
  text-align: left;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 1%;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(214, 209, 209);
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.delete-button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 2px;
  margin-right: 10px;
  border-radius: 10px;
}

.task-item .delete-button {
  margin-left: auto;
}

.delete-button:hover {
  color: blue;
}

.intro {
  font-size: 15px;
  border-bottom: 1px #ddd solid;
  padding-bottom: 0;
  margin-bottom: 0;
}

.title {
  display: inline-block;
  font-size: 20px;
  color: black;
  text-align: start;
  justify-content: start;
  padding-top: 2%;
  padding-bottom: 2%;
}

.intro .i {
  font-size: 15px;
  opacity: 0.5;
  color: #333;
}

.add * {
  color: #000;
  background-color: rgb(224, 207, 207);
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.add *:hover {
  color: rgb(2, 18, 248);
}

.add input {
  width: 100%;
  outline: none;
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.add input::placeholder {
  color: #808080;
}

.add i {
  font-size: 12px;
}

.uncheck-button,
.check-button {
  outline: none;
  border: none;
}

.check-button {
  background: transparent;
  color: #2e2e2e;
  cursor: pointer;
  font-size: 16px;
}

.uncheck-button {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #fff;
  border: 2px #ddd solid;
  cursor: pointer;
  color: #fff;
}

.to-do-item input {
  width: calc(100% - 30px);
  padding: 0 15px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: start;
}

.decorate {
  opacity: 0.5;
  color: #333;
  text-decoration: line-through;
}

.undecorate {
  color: #000;
  text-decoration: none;
}

.to-do-item-more {
  font-size: 16px;
  opacity: 0.5;
  color: #333;
  cursor: pointer;
}

.clear-list {
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  outline: none;
  border: 1px;
  background-color: #a3d19159;
  font-size: 16px;
  cursor: pointer;
}

.clear-list:hover {
  color: blue;
}

.clear-to-do-list span {
  color: #808080;
}

ul {
  list-style: none;
}
